<ng-template ngFor let-menuItemChild [ngForOf]="menuItem.children">
  <div *ngIf="menuItemChild.children.length === 0">
    <li *ngIf="menuItemChild.label !== '-'"><a class="dropdown-item" href="#">{{menuItemChild.label}}</a></li>
    <li *ngIf="menuItemChild.label === '-'" class="divider dropdown-divider"></li>
  </div>
  <div *ngIf="menuItemChild.children.length !== 0">
    <li class="dropdown-submenu">
      <a class="dropdown-toggle dropdown-item" href="#" data-toggle="dropdown">{{menuItemChild.label}}</a>
      <ul class="dropdown-menu">
        <app-component-menu-item [menuItem]="menuItemChild"></app-component-menu-item>
      </ul>
    </li>
  </div>
</ng-template>
